.pagewrap{
  display: flex;
}


.Creditcard{
  width: 100%;
  border-left: 1px solid #e6e6e6;

  &__title{
    display: flex;
    padding: 10px 0 9px 5px;
    background-color: #f5f5f5;
    color: #9999;
    font-size: 12px;

    span{
      margin: 0 10px;

      &::after{
        content: "›";
      }

      li a{
        padding: 4px;
        margin: 0 0 0 13px;
      }
    }
  }

  &__hero{
    width: 100%;
    margin-bottom: 40px;



    &Inner{
      &Title{
        min-height: 230px;
        padding: 40px 10%;
        margin-bottom: 73px;
        background-image: url("https://www.orico.co.jp/common/images/hdg/hdg-creditcard-01.jpg");
        background-position: center center;
        background-size: cover;



        h2{
          margin-bottom: 15px;
          font-size: 36px;
          font-weight: bold;
        }

        p{
          width: 535px;
          line-height: 1.3;
        }

        &SP{
          display: none;
        }
      }
    }
  }

  &__1{
    &Inner{
      &Text{
        margin: 40px 10%;
      }

      &Good{
        padding: 40px 10%;

        &List{
          display: flex;
          justify-content: space-between;
          margin-bottom: 100px;
          border-radius: 20px;

          li{
            border-radius: 20px;
          }

          &Item{
            width: 32%;
            text-align: center;




            h3{
              padding: 14px 20px 14px;
              background-color: #fe4521;
              border-radius: 10px 10px 0 0;
              color: #ffff;
              font-size: 18px;
              font-weight: bold;
            }

            &Bottom{
              justify-content: space-between;
              padding: 30px 20px 48px;
              background-color: #f5f5f5;
              border-radius: 0 0 10px 10px;
              transition: 1s;


              &:hover{
                background-color: #ffff;
                box-shadow: 0 0.1rem 1rem 0 rgb(0 0 0 / 20%);
              }



              p{
                height: 76px;
                margin-bottom: 30px;
                font-size: 1.2rem;
                font-weight: bold;
                line-height: 1.3;

                span{
                  color: #fe4521;
                }
              }

              img{
                // width: 240px;
                border-radius: 10px;
              }

              &Arrow{
                position: relative;

                &::after{
                  content: "";
                  width: 20px;
                  height: 100%;
                  background: url("https://www.orico.co.jp/common/images/icon/icon-arrow-03.svg");
                  background-repeat: no-repeat;
                  position: absolute;
                  top: 40px;
                  left: -143px;
                  transform: rotate(90deg);
                }
              }
            }
          }
        }

        &Year{
          &Title{
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #e6e6e6;

            p{
              padding: 8px 10px;
              margin-right: 20px;
              background-color: #fe4521;
              border-radius: 5px;
              color: #ffff;
              font-weight: bold;
            }

            h3{
              font-size: 22px;
              font-weight: bold;
            }
          }


          &Descript{
            &1{
              padding: 80px 0;
              border-bottom: 1px solid #e6e6e6;
              font-size: 26px;
              line-height: 1.3;
              text-align: center;



              span{
                color: #fe4521;
                position: relative;
                z-index: 10;

                &::after{
                  content: "";
                  width: 100%;
                  height: 24px;
                  background: linear-gradient(transparent 69%, #faff5f 69%, #f9ff57 90%, transparent 50%);
                  opacity: 0.3;
                  position: absolute;
                  left: 0;
                  bottom: -3px;
                  z-index: 5;
                }
              }
            }

            &2{
              display: flex;
              padding-bottom: 30px;
              border-bottom: 1px solid #e6e6e6;

              &Name{
                width: 160px;
                margin: 30px 0;
                font-weight: bold;
              }

              &Item{
                ul{
                  display: flex;
                  justify-content: space-around;

                  li{
                    max-width: 410px;
                    height: 100%;

                    img{
                      width: 202px;
                      margin: 30px 0 10px 40px;
                    }

                    a{
                      display: inline-block;
                      margin: 10px 0 10px 40px;
                      border-bottom: 1px solid #333;
                      font-weight: bold;
                    }

                    p{
                      margin: 10px 0 20px 40px;
                      color: #9999;
                      font-size: 14px;
                    }

                    h4{
                      margin: 10px 0 20px 40px;
                      line-height: 1.5;
                    }

                    span{
                      padding: 4px 7px;
                      margin: 20px 0 10px 40px;
                      border: 1px solid #fe4521;
                      border-radius: 5px;
                      color: #fe4521;
                      font-size: 14px;
                    }
                  }
                }
              }
            }

            &3{
              display: flex;
              padding: 0 0 30px 0;
              border-bottom: 1px solid #e6e6e6;

              h3{
                width: 160px;
                margin: 30px 0 10px;
                font-weight: bold;
              }

              p{
                width: 370px;
                margin: 30px 0 10px 40px;
              }
            }

            &4{
              display: flex;
              padding: 0 0 30px 0;
              border-bottom: 1px solid #e6e6e6;


              h3{
                width: 160px;
                margin: 30px 0 10px;
                font-weight: bold;
              }

              ul{
                display: flex;

                li{
                  width: 410px;

                  h4{
                    margin: 30px 0 10px 40px;
                    font-weight: bold;
                  }

                  p{
                    margin: 0 0 10px 40px;
                  }

                  span{
                    display: block;
                    width: 350px;
                    padding: 0 0 0 30px;
                    margin: 30px 0 10px 40px;
                    font-size: 14px;
                    position: relative;

                    &::after{
                      content: "※";
                      width: 20px;
                      height: 100%;
                      position: absolute;
                      left: 1px;
                      bottom: 0;
                    }
                  }
                }
              }
            }

            &5{
              display: flex;
              padding: 0 0 30px 0;
              border-bottom: 1px solid #e6e6e6;


              h3{
                width: 160px;
                margin: 30px 0 10px;
                font-weight: bold;
              }

              ul{
                display: flex;

                li{
                  width: 370px;
                  margin: 30px 0 10px 40px;

                  img{
                    width: 32px;
                  }
                }
              }
            }

            &6{
              display: flex;
              padding: 0 0 20px 0;
              border-bottom: 1px solid #e6e6e6;


              h3{
                width: 160px;
                margin: 41px 0 10px;
                font-weight: bold;
              }

              ul{
                display: flex;

                li{
                  width: 370px;
                  margin: 30px 0 10px 40px;

                  p{
                    display: table;
                    padding: 10px;
                    margin-bottom: 5px;
                    background: #f5f5f5;
                    border: 1px solid #e6e6e6;
                    border-radius: 5px;
                    color: #666;
                    font-size: 14px;
                  }
                }
              }
            }

            &7{
              display: flex;
              align-items: center;
              padding: 0 0 20px 0;
              border-bottom: 1px solid #e6e6e6;


              h3{
                width: 160px;
                margin: 34px 0 10px;
                font-weight: bold;
              }

              ul{
                display: flex;

                li{
                  width: 370px;
                  margin: 30px 0 10px 40px;

                  img{
                    width: 103px;

                    &:nth-child(2){
                      width: 63px;
                    }
                  }
                }
              }
            }

            &8{
              display: flex;
              align-items: center;
              padding: 0 0 20px 0;
              border-bottom: 1px solid #e6e6e6;


              h3{
                width: 160px;
                margin: 34px 0 10px;
                font-weight: bold;
              }

              ul{
                display: flex;

                li{
                  width: 370px;
                  margin: 30px 0 10px 40px;
                }
              }
            }

            &Btn{
              padding: 40px 25px;
              margin-top: 75px;
              margin-bottom: 75px;
              background-color: #f5f5f5;
              border-radius: 5px;


              .btn{
                width: 392px;
                margin: 0 auto;
                font-size: 16px;
              }
            }

            &Article{
              margin-bottom: 40px;

              &Title{
                h3{
                  padding-left: 12px;
                  margin-bottom: 20px;
                  border-left: 2px solid #e6e6e6;
                  font-size: 18px;
                  font-weight: bold;
                }
              }

              ul{
                display: flex;
                justify-content: space-between;

                li{
                  display: flex;
                  width: 500px;

                  img{
                    width: 202px;
                    height: 127px;
                    border-radius: 5px;
                  }

                  div{
                    padding: 5px 15px 9px 20px;
                  }

                  a{
                    border-bottom: 1px solid #333;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.5;
                  }

                  p{
                    width: 193px;
                    margin: 15px 0 30px 0;
                    line-height: 1.3;
                  }

                  span{
                    display: inline-block;
                    width: 200px;
                    padding-left: 30px;
                    font-size: 14px;
                    line-height: 1.5;
                    position: relative;

                    &::before{
                      content: "※";
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                  }
                }
              }
            }

            &Article2{
              margin-bottom: 100px;

              &Title{
                h3{
                  padding-left: 12px;
                  margin-bottom: 20px;
                  border-left: 2px solid #e6e6e6;
                  font-size: 18px;
                  font-weight: bold;
                }
              }

              ul{
                display: flex;

                li{
                  display: flex;

                  img{
                    width: 202px;
                    height: 127px;
                    border-radius: 5px;
                  }

                  div{
                    padding: 5px 15px 9px 20px;
                  }

                  a{
                    border-bottom: 1px solid #333;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__2{
    &Inner{
      margin: 40px 10%;

      &Title{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;

        p{
          padding: 8px 10px;
          margin-right: 20px;
          background-color: #fe4521;
          border-radius: 5px;
          color: #ffff;
          font-weight: bold;
        }

        h3{
          font-size: 22px;
          font-weight: bold;
        }
      }

      &Descript{
        &1{
          margin: 0 0 80px 0;

          p{
            margin: 30px 0 30px 0;
          }

          span{
            display: block;
            padding: 30px 0 0 30px;
            font-size: 14px;
            position: relative;

            &::before{
              content: "※";
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
        }

        &2{
          &List{
            display: flex;
            width: 100%;

            &Item{
              &1{
                width: 50%;
                margin-right: 37px;

                h3{
                  padding-left: 15px;
                  margin: 0 0 20px 15px;
                  border-left: 2px solid #e6e6e6;
                  font-size: 18px;
                  font-weight: bold;
                }

                &Image{
                  // max-width: 410px;
                  border: 1px solid #e6e6e6;
                  border-radius: 5px;
                }

                p{
                  margin: 40px 0 0;
                  line-height: 1.5;

                  span{
                    color: #fe4521;
                    font-weight: bold;
                  }
                }

                &Btn{
                  padding: 40px 25px;
                  margin: 80px 0 0 0;
                  background-color: #f5f5f5;
                  border-radius: 5px;

                  .btn{
                    font-size: 16px;
                    text-align: center;
                  }
                }
              }

              &2{
                width: 50%;
                padding-left: 37px;
                border-left: 1px solid #e6e6e6;

                h3{
                  padding-left: 15px;
                  margin: 0 0 20px 15px;
                  border-left: 2px solid #e6e6e6;
                  font-size: 18px;
                  font-weight: bold;
                }



                p{
                  margin: 40px 0 0;
                  line-height: 1.5;
                }

                &Span{
                  span{
                    display: block;
                    padding: 30px 0 0 30px;
                    font-size: 14px;
                    line-height: 1.5;
                    position: relative;

                    &::before{
                      content: "※";
                      position: absolute;
                      left: 0;
                      bottom: 20px;
                    }
                  }
                }
              }
            }
          }
        }

        &3{
          width: 100%;
          padding: 40px 0;
          margin: 50px 0;
          background-color: #f5f5f5;
          border-radius: 5px;

          h3{
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          }

          &Link1{
            display: table;
            margin: 30px auto;


            a{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 483px;
              height: 80px;
              background: #fe622f;
              background-image: linear-gradient(135deg, #ff0600 0, #ff7200 100%);
              border-radius: 5px;
              color: #fff;
              font-weight: bold;
            }

            img{
              width: 8px;
              position: relative;
              left: 14px;
            }
          }

          &Link2{
            padding-bottom: 32px;
            margin: 0 42px;
            border-bottom: 1px solid #e6e6e6;
            text-align: center;

            img{
              width: 6px;
              position: relative;
              bottom: 4px;
            }
          }

          &Link3{
            margin: 26px 40px 0 60px;

            a{
              span{
                padding-bottom: 2px;
                border-bottom: 1px solid #333;
                position: relative;

                &::before{
                  content: "●";
                  width: 2px;
                  height: 2px;
                  color: #fe4521;
                  font-size: 1px;
                  position: absolute;
                  top: 4px;
                  left: -18px;
                }
              }
            }
          }
        }
      }
    }
  }


  &__3{
    &Inner{
      margin: 40px 10%;

      &Title{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;

        p{
          padding: 8px 10px;
          margin-right: 20px;
          background-color: #fe4521;
          border-radius: 5px;
          color: #ffff;
          font-weight: bold;
        }

        h3{
          font-size: 22px;
          font-weight: bold;
        }
      }

      &Descript{
        &List{
          display: flex;
          width: 100%;

          &Item{
            width: 50%;
            padding-left: 37px;
            margin-top: 30px;
            border-left: 1px solid #e6e6e6;

            &:nth-child(1){
              padding-left: 0;
              margin-right: 37px;
              border-left: none;
            }

            h3{
              padding-left: 15px;
              margin: 0 0 20px 0;
              border-left: 2px solid #e6e6e6;
              font-size: 18px;
              font-weight: bold;
            }

            &Image{
              border: 1px solid #e6e6e6;
              border-radius: 5px;
            }



            p{
              margin: 40px 0 0;
              line-height: 1.5;
            }

            &Span{
              span{
                display: block;
                padding: 30px 0 0 30px;
                font-size: 14px;
                line-height: 1.5;
                position: relative;

                &::before{
                  content: "※";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                }
              }
            }

            &Btn{
              padding: 40px 25px;
              margin: 80px 0 0 0;
              background-color: #f5f5f5;
              border-radius: 5px;

              .btn{
                font-size: 16px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

/* orico */

.Craditcard__orico{
  padding: 40px 10%;

  .Sec-title{
    padding: 0 0 20px;
  }


  &1{
    &List{
      &Item{
        h3{
          padding: 50px 0 50px 0;
          border-bottom: 1px solid #e6e6e6;
          font-size: 22px;
          font-weight: bold;

          span{
            padding-left: 20px;
            border-left: 2px solid #fe4521;
          }
        }

        img{
          width: 280px;
          margin: 30px 0;
        }


        &Link{
          display: table;
          padding: 0 0 2px 0;
          margin: 0 0 40px 0;
          border-bottom: 1px solid #333;
          font-size: 18px;
          font-weight: bold;
        }

        &Btn{
          padding: 40px;
          // margin-bottom: 80px;
          background-color: #f5f5f5;

          .btn{
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 600px){
  .Craditcard__orico{
    .Sec-title{
      padding: 0 0 20px;
      font-size: 17px;

      img{
        margin-right: 10px;
      }
    }

    &1{
      &List{
        &Item{
          h3{
            font-size: 17px;
          }

          img{
            width: 165px;
          }

          a{
            font-size: 14px;
          }

          .btn{
            padding: 10px 32px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1360px){
  .Craditcard__orico{
    padding: 40px 5%;
  }
}




/* Black */

.Craditcard__Black{
  margin-top: 100px;

  &Inner{
    padding: 40px 10%;

    &Table{
      tr{
        border-bottom: 1px solid #e6e6e6;
      }

      th{
        vertical-align: top;
        width: 160px;
        padding: 2rem 0;
        border-bottom: 1px solid #e6e6e6;
        font-weight: 700;
        text-align: left;
      }

      td{
        width: 28%;
        padding: 30px 0 30px 40px;
        line-height: 1.5;
      }


      &Name{
        img{
          max-width: 148px;
          margin-bottom: 10px;
        }

        &Link{
          max-width: 180px;

          a{
            border-bottom: 1px solid #333;
            font-weight: bold;
            line-height: 1.5;
          }
        }

        p{
          margin: 10px 0;
          color: #9999;
          font-size: 14px;
        }
      }

      &Brand{
        td{
          img{
            width: 32px;
          }
        }
      }

      &Service{
        td{
          display: table-cell;

          ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            li{
              span{
                display: inline-block;
                padding: 5px 10px;
                margin: 0 0 5px 0;
                background: #f5f5f5;
                border: 1px solid #e6e6e6;
                border-radius: 5px;
                color: #666;
                font-size: 14px;
              }
            }
          }
        }
      }

      &Mobile{
        &Master{
          max-width: 102px;
        }

        &Jcb{
          max-width: 66px;
        }

        &Id{
          max-width: 44px;
        }

        &Q{
          max-width: 37px;
        }
      }

      &People{
        td{
          padding-left: 60px;

          span{
            display: block;
            line-height: 1.7;
            position: relative;

            &::before{
              content: "●";
              width: 100%;
              height: 100%;
              color: #fe4521;
              font-size: 1px;
              position: absolute;
              top: 5px;
              left: -20px;
            }
          }
        }
      }
    }
  }

  &Btn{
    padding: 40px 25px;
    margin: 30px 10% 75px 10%;
    background-color: #f5f5f5;
    border-radius: 5px;


    .btn{
      width: 392px;
      margin: 0 auto;
      font-size: 16px;
    }
  }
}



@media screen and(max-width: 600px){
  .Craditcard__Black{
    &Sec-title{
      h2{
        font-size: 15px;
      }
    }

    &Inner{
      padding: 20px 5% !important;
      overflow-x: scroll;



      &Table{
        tr{
          th{
            display: block;
            width: 96px;
            padding: 0 0 30px 0;
            border-bottom: none;
            font-size: 15px;
          }

          td{
            padding: 20px 0 30px 25px;
            font-size: 13px;
          }
        }

        &Service{
          td{
            ul{
              li{
                span{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }

    &Btn{
      padding: 40px 25px;
      margin: 30px 10% 75px 10%;
      background-color: #f5f5f5;
      border-radius: 5px;


      .btn{
        width: auto;
        padding: 10px 0;
      }
    }
  }
}

@media screen and(max-width: 1360px){
  .Craditcard__Black{
    &Inner{
      padding: 40px 10%;
      overflow-x: scroll;
    }

    &Btn{
      margin: 30px 10% 75px 10% !important;
    }
  }
}



/* Member */

.Craditcard__Member{
  &Inner{
    padding: 20px 10%;


    &1{
      margin: 30px 0 100px 0;

      ul{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        li{
          display: flex;
          width: 45%;

          .Craditcard__MemberInner1Left{
            max-width: 202px;
            // border: 1px solid #e6e6e6;
            border-radius: 10px;

            img{
              border: 1px solid #e6e6e6;
              border-radius: 10px;
            }
          }

          .Craditcard__MemberInner1Right{
            padding: 5px 15px 0 20px;

            a{
              padding-bottom: 3px;
              border-bottom: 1px solid #333;
              font-size: 18px;
              font-weight: bold;
              line-height: 1.5;
            }

            p{
              max-width: 193px;
              margin: 21px 0 0 0;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 600px){
  .Craditcard__Member{
    &Inner{
      &1{
        ul{
          flex-direction: column;


          li{
            width: 100%;

            .Craditcard__MemberInner1Left{
              width: 50%;
            }

            .Craditcard__MemberInner1Right{
              // width: 50%;

              a{
                font-size: 14px;
                line-height: 1.5;
              }

              p{
                margin: 10px 0 0 0;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1360px){
  .Craditcard__Member{
    &Inner{
      padding: 20px 5%;

      &1{
        ul{
          li{
            .Craditcard__MemberInner1Right{
              a{
                font-size: 15px;
              }

              p{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}


/* Question */

.Craditcard__Question{
  margin: 0 0 200px 0;

  nav{
    display: none;
  }

  &Accordion{
    padding: 20px 10%;




    nav{
      ul{
        li{
          display: flex;
          padding: 20px 20px;
          margin: 0 20px;
          background-color: #f5f5f5;
          border-radius: 10px;

          span{
            margin-right: 20px;
            color: #14b82f;
            font-size: 15px;
            font-weight: bold;
            line-height: 1.75;
          }

          p{
            font-size: 15px;
            line-height: 1.75;
          }
        }
      }
    }

    .nav-open{
      display: flex;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
      position: relative;
      transition: 0.3s;

      h3{
        font-size: 15px;
      }



      span{
        margin-right: 20px;
        color: #fd4522;
        font-size: 15px;
        font-weight: bold;
      }

      &:hover{
        margin: 0 20px;
        background-color: #f5f5f5;
      }

      &:checked{
        background-color: #14b82f;
      }
    }

    .nav-open::before{
      content: "";
      width: 20px;
      height: 20px;
      background: url("https://www.orico.co.jp/common/images/icon/icon-open-01.svg") left center no-repeat;
      background-size: cover;
      position: absolute;
      right: 20px;
      transition: 0.3s;
    }

    .nav-open.active::before{
      content: "";
      width: 20px;
      height: 20px;
      background: url("https://www.orico.co.jp/common/images/icon/icon-close-01.svg") left center no-repeat;
      background-size: cover;
      position: absolute;
      right: 20px;
      transition: 0.3s;
    }
  }
}

@media screen and (max-width:600px){
  .Craditcard__Question{
    &Accordion{
      padding: 20px 0;

      &Item{
        .nav-open{
          h3{
            width: 270px;
            font-size: 14px;
            line-height: 1.5;
          }

          span{
            margin-right: 10px;
            font-size: 14px;
            line-height: 1.5;
          }

          &::before{
            width: 13px;
            height: 13px;
            top: 25px;
          }

          &.active::before{
            width: 13px;
            height: 13px;
            top: 25px;
          }
        }
      }

      nav{
        ul{
          li{
            span{
              font-size: 14px;
            }

            p{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}



/* 他 SP */





@media screen and (max-width:600px){
  .Creditcard{
    &__hero{
      border-bottom: 4px solid #f5f5f5;

      &Inner{
        &Title{
          margin-bottom: 0;
          background-image: none;

          p{
            width: 340px;
          }

          &SP{
            display: block;
          }
        }
      }
    }

    &__1{
      &Inner{
        &Text{
          margin: 40px 5% 0 !important;
          font-size: 15px;
          line-height: 1.7;
        }

        &Good{
          padding: 10px 5% !important;

          &List{
            margin-bottom: 40px;

            &Item{
              h3{
                padding: 8px 20px;
                font-size: 13px;
                line-height: 1.5;
              }

              &Bottom{
                padding: 15px 5px 23px;

                p{
                  margin-bottom: 19px;
                  font-size: 0.8rem !important;
                }

                span{
                  &::after{
                    top: 27px;
                    left: -64px !important;
                  }
                }
              }
            }
          }

          &Year{
            &Title{
              p{
                width: 90px;
                padding: 5px 5px;
                font-size: 13px;
              }

              h3{
                margin-top: 18px;
                font-size: 17px;
              }
            }

            &Descript{
              &1{
                padding: 40px 0;
                font-size: 17px;
              }

              &2{
                &Name{
                  p{
                    width: 65px;
                  }
                }

                &Item{
                  ul{
                    li{
                      a{
                        margin: 10px 0 10px 20px;
                        border-bottom: none;
                      }

                      img{
                        width: 110px;
                        margin: 30px 0 10px 20px;
                      }

                      p{
                        margin: 10px 0 20px 20px;
                        font-size: 13px;
                      }

                      h4{
                        margin: 10px 0 20px 20px;
                        font-size: 15px;
                      }



                      span{
                        margin: 20px 0 10px 15px;
                        ;
                      }
                    }
                  }
                }
              }

              &3{
                h3{
                  width: 65px;
                }

                p{
                  margin: 30px 0 10px 20px;
                }

                ul{
                  li{
                    width: auto;
                  }
                }
              }

              &4{
                h3{
                  width: 67px;
                }

                ul{
                  li{
                    width: auto;

                    h4{
                      margin: 30px 0 10px 16px;
                    }

                    p{
                      width: auto;
                      margin: 0 0 20px 16px;
                    }

                    span{
                      display: block;
                      width: 124px !important;
                      padding: 0 0 0 35px;
                      margin: 0;

                      &::after{
                        left: 15px;
                      }
                    }
                  }
                }
              }

              &5{
                padding: 0 0 20px 0;


                h3{
                  width: 65px;
                  margin: 26px 0 10px;
                }

                ul{
                  li{
                    width: auto;
                    padding: 0 40px 0 0;
                    margin: 20px 0 10px 20px;
                  }
                }
              }

              &6{
                padding: 0;

                h3{
                  width: 65px;
                  margin: 30px 0 10px;
                }

                ul{
                  li{
                    width: auto;
                    margin: 20px 0 10px 20px;

                    p{
                      font-size: 12px;
                    }
                  }
                }
              }

              &7{
                h3{
                  width: 65px;
                  margin: 7px 0 10px;
                }

                ul{
                  li{
                    width: 108px;
                    margin: 30px 0 10px 20px;
                  }
                }
              }

              &8{
                h3{
                  width: 65px;
                  margin: 0 0 10px;
                }

                ul{
                  li{
                    width: auto;
                    margin: 20px 0 10px 20px;

                    p{
                      width: auto;
                      font-size: 14px;
                      line-height: 1.5;
                    }
                  }
                }
              }

              &Btn{
                margin-top: 40px;
                margin-bottom: 40px;

                .btn{
                  width: 295px;
                  padding: 10px 20px;
                  ;
                }
              }

              &Article{
                margin-bottom: 20px;

                &Title{
                  h3{
                    font-size: 15px;
                  }
                }

                ul{
                  flex-direction: column;

                  li{
                    width: auto;

                    a{
                      font-size: 14px;
                    }

                    p{
                      width: auto;
                      font-size: 12px;
                    }

                    span{
                      width: auto;
                      padding-left: 25px;
                      font-size: 13px;
                    }

                    img{
                      width: 165px;
                      height: 104px;
                    }
                  }
                }
              }

              &Article2{
                ul{
                  li{
                    a{
                      font-size: 14px;
                    }

                    img{
                      width: 165px;
                      height: 104px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__2{
      &Inner{
        margin: 40px 5%;

        &Title{
          align-items: baseline;
          padding-bottom: 15px;

          p{
            width: 95px;
            padding: 5px 7px;
            font-size: 13px;
          }

          h3{
            font-size: 17px;
          }
        }

        &Descript{
          &1{
            margin: 0 0 60px 0;

            p{
              margin: 30px 0 15px 0;
              font-size: 15px;
            }

            span{
              padding: 20px 0 0 30px;
              font-size: 13px;

              &::before{
                bottom: 13px;
              }
            }
          }

          &2{
            &List{
              flex-direction: column;

              &Item{
                &1{
                  width: auto;
                  margin-right: 0;

                  h3{
                    margin: 0 0 15px 0;
                    font-size: 15px;
                  }

                  &Image{
                    max-width: 410px;
                    border: 1px solid #e6e6e6;
                    border-radius: 5px;
                  }

                  p{
                    margin: 30px 0 0;
                    font-size: 15px;
                    line-height: 1.5;

                    span{
                      color: #fe4521;
                      font-weight: bold;
                    }
                  }

                  &Btn{
                    margin: 30px 0 30px 0;

                    .btn{
                      padding: 10px 10px;
                      font-size: 15px;
                    }
                  }
                }

                &2{
                  width: auto;
                  padding-left: 0;
                  border-left: none;

                  h3{
                    padding-left: 15px;
                    margin: 0 0 20px 0;
                    font-size: 18px;
                    font-weight: bold;
                  }



                  p{
                    margin: 30px 0 0;
                    font-size: 15px;
                    line-height: 1.5;
                  }

                  &Span{
                    span{
                      display: block;
                      padding: 30px 0 0 30px;
                      font-size: 13px;
                      line-height: 1.5;
                      position: relative;

                      &::before{
                        content: "※";
                        position: absolute;
                        left: 0;
                        bottom: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &__3{
      &Inner{
        &Title{
          align-items: baseline;

          p{
            width: 104px;
            padding: 3px 4px;
            font-size: 13px;
          }

          h3{
            font-size: 17px;
            line-height: 1.5;
          }
        }

        &Descript{
          &List{
            flex-direction: column;

            &Item{
              width: auto;
              padding-left: 0;
              margin-right: 0;
              border-left: none;


              &:nth-child(1){
                padding-left: 0;
                margin-right: 0;
                border-left: none;
              }


              &Image{
                border: 1px solid #e6e6e6;
                border-radius: 5px;
              }


              &Btn{
                margin: 30px 0 30px 0;

                .btn{
                  padding: 10px 10px;
                  font-size: 15px;
                }
              }


              h3{
                padding-left: 15px;
                margin: 0 0 20px 0;
                font-size: 18px;
                font-weight: bold;
              }



              p{
                margin: 30px 0 0;
                font-size: 15px;
                line-height: 1.5;
              }

              &Span{
                span{
                  &::before{
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1360px){
  .Creditcard{
    &__hero{
      &Inner{
        &Title{
          padding: 40px 5%;

          h2{
            font-size: 21px;
          }

          p{
            margin-top: 30px;
            font-size: 15px;
          }
        }
      }
    }

    &__1{
      &Inner{
        &Text{
          margin: 40px 5%;
        }

        &Good{
          padding: 40px 5%;



          &List{
            &Item{
              &Bottom{
                p{
                  font-size: 1rem;
                }

                span{
                  &::after{
                    left: -156px;
                  }
                }
              }
            }
          }

          &Year{
            &Descript{
              &4{
                ul{
                  li{
                    span{
                      display: block;
                      width: 247px;
                      line-height: 1.3;
                    }
                  }
                }
              }

              &8{
                p{
                  width: 200px;
                }
              }
            }
          }
        }
      }
    }

    &__2{
      &Inner{
        margin: 40px 5%;

        &Descript{
          &2{
            &List{
              &Item1{
                h3{
                  margin: 0 0 20px 0;
                }

                &Btn{
                  .btn{
                    padding: 12px 15px;
                  }
                }
              }

              &Item2{
                h3{
                  margin: 0 0 20px 0;
                }
              }
            }
          }

          &3{
            width: 100%;
            padding: 40px 20px;
            margin: 50px 0;
            background-color: #f5f5f5;

            h3{
              font-size: 17px;
              font-weight: bold;
              text-align: center;
            }

            &Link1{
              display: table;
              margin: 30px auto;


              a{
                width: 295px;
                height: 99px;
                padding: 24px 25px;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.5;
              }

              img{
                width: 8px;
                position: relative;
                left: 14px;
              }
            }

            &Link2{
              padding-bottom: 32px;
              margin: 0;
              font-size: 15px;

              img{
                width: 6px;
                position: relative;
                bottom: 4px;
              }
            }

            &Link3{
              margin: 26px 5px 0 20px;

              a{
                span{
                  padding-bottom: 2px;
                  border-bottom: 1px solid #333;
                  font-size: 15px;
                  line-height: 1.5;
                  position: relative;
                }
              }
            }
          }
        }
      }
    }

    &__3{
      &Inner{
        margin: 40px 5%;
      }
    }
  }
}