footer{
  padding: 100px 0 125px 0;
  background-color: #f5f5f5;


  .footerInner{
    &__1{
      display: flex;
      justify-content: space-between;
      padding-bottom: 63px;
      margin-bottom: 67px;
      border-bottom: 1px solid #e6e6e6;

      &Icon{
        width: 170px;
      }

      &Nav{
        display: flex;
        align-items: center;
        margin-top: 23px;

        &Search{
          margin-right: 37px;
          position: relative;

          input{
            width: 250px;
            height: 35px;
            border: none;
            color: #333;
            font-size: 16px;


            &::placeholder{
              color: #999;
              font-size: 16px;
              position: relative;
              top: 2px;
              left: 10px;
            }
          }

          img{
            width: 15px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        &Menu{
          padding-right: 25px;
          border-right: 1px solid #e6e6e6;


          ul{
            display: flex;
            gap: 38px;



            li a{
              display: flex;
              gap: 6px;
              font-size: 14px;

              img{
                width: 8px;
              }
            }
          }
        }

        &App{
          display: flex;
          margin-left: 21px;
          font-size: 16px;


          img{
            width: 16px;
          }
        }
      }
    }

    &__2{
      display: flex;
      gap: 38px;
      padding-bottom: 73px;
      margin-bottom: 71px;
      border-bottom: 1px solid #e6e6e6;

      &List{
        h2{
          margin-bottom: 49px;
          font-size: 18px;
          font-weight: bold;
        }

        ul{
          li{
            margin-bottom: 19px;
            font-size: 13px;
          }
        }
      }
    }


    &__3{
      display: flex;
      justify-content: space-between;
      padding: 71px 0;
      margin-bottom: 51px;
      border-bottom: 1px solid #e6e6e6;

      &Left{
        &Top{
          display: flex;
          gap: 25px;

          li{
            margin-bottom: 35px;
          }
        }

        &Bottom{
          display: flex;
          align-items: center;
          gap: 25px;

          li{
            position: relative;

            a{
              img{
                width: 8px;
                margin-bottom: 3px;
              }
            }
          }
        }
      }

      &Right{
        &Top{
          display: flex;
          align-items: center;

          h3{
            padding-right: 25px;
            border-right: 1px solid #e6e6e6;
            font-size: 14px;
          }

          &Icon{
            display: flex;
            align-items: center;
            margin-left: 25px;

            a img{
              width: 30px;
              margin-left: 19px;
            }
          }
        }

        &Bottom{
          display: flex;
          align-items: center;
          gap: 19px;
          color: #616161;

          p{
            padding-right: 25px;
            border-right: 1px solid #e6e6e6;
          }

          a img{
            width: 40px;
            margin-left: 25px;
          }
        }
      }
    }


    &__4{
      display: flex;
      justify-content: space-between;
      align-items: center;

      a img{
        width: 100px;
      }
    }
  }
}