footer{
  padding: 100px 0 125px 0;
  background-color: #f5f5f5;


  .footerInner{
    &__1{
      display: flex;
      justify-content: space-between;
      padding-bottom: 63px;
      margin-bottom: 67px;
      border-bottom: 1px solid #e6e6e6;

      &Icon{
        width: 170px;
      }

      &Nav{
        display: flex;
        align-items: center;
        margin-top: 23px;

        &Search{
          margin-right: 37px;
          position: relative;

          input{
            width: 250px;
            height: 35px;
            border: none;
            color: #333;
            font-size: 16px;


            &::placeholder{
              color: #999;
              font-size: 16px;
              position: relative;
              top: 2px;
              left: 10px;
            }
          }

          img{
            width: 15px;
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }

        &Menu{
          padding-right: 25px;
          border-right: 1px solid #e6e6e6;


          ul{
            display: flex;
            gap: 38px;



            li a{
              display: flex;
              gap: 6px;
              font-size: 14px;

              img{
                width: 8px;
              }
            }
          }
        }

        &App{
          display: flex;
          margin-left: 21px;
          font-size: 16px;


          img{
            width: 16px;
          }
        }
      }
    }

    &__2{
      display: flex;
      gap: 38px;
      padding-bottom: 73px;
      margin-bottom: 71px;
      border-bottom: 1px solid #e6e6e6;

      &Top{
        display: none;
      }

      &List{
        h2{
          margin-bottom: 49px;
          font-size: 18px;
          font-weight: bold;
        }

        ul{
          li{
            margin-bottom: 19px;
            font-size: 13px;
          }
        }
      }
    }


    &__3{
      display: flex;
      justify-content: space-between;
      padding: 71px 0;
      margin-bottom: 51px;
      border-bottom: 1px solid #e6e6e6;

      &Left{
        &Top{
          display: flex;
          gap: 25px;

          li{
            margin-bottom: 35px;
          }
        }

        &Bottom{
          display: flex;
          align-items: center;
          gap: 25px;

          li{
            position: relative;

            a{
              img{
                width: 8px;
                margin-bottom: 3px;
              }
            }
          }
        }
      }

      &Right{
        &Top{
          display: flex;
          align-items: center;

          h3{
            padding-right: 25px;
            border-right: 1px solid #e6e6e6;
            font-size: 14px;
          }

          &Icon{
            display: flex;
            align-items: center;
            margin-left: 25px;

            a img{
              width: 30px;
              margin-left: 19px;
            }
          }
        }

        &Bottom{
          display: flex;
          align-items: center;
          gap: 19px;
          color: #616161;

          p{
            padding-right: 25px;
            border-right: 1px solid #e6e6e6;
          }

          a img{
            width: 40px;
            margin-left: 25px;
          }
        }
      }
    }


    &__4{
      display: flex;
      justify-content: space-between;
      align-items: center;

      a img{
        width: 100px;
      }
    }

    &__SP{
      display: none;
    }
  }
}




@media screen and(max-width: 600px){
  footer{
    .footerInner{
      .footerListSP{
        li{
          padding: 21px 34px 15px 10px;
          margin: 0 15px !important;
          ;
        }

        a{
          font-size: 13px !important;
        }
      }

      &__SP{
        font-size: 15px;




        &3{
          ul{
            gap: 0 20px;
          }
        }


        &5{
          &Search{
            padding-bottom: 20px;
            border-bottom: 1px solid #e6e6e6;
            position: relative;

            span::after{
              content: "";
              width: 16px;
              left: 92% !important;
            }
          }
        }
      }
    }
  }
}




@media screen and(max-width: 1360px){
  footer{
    padding: 60px 0 0 0;

    .wrapper{
      padding: 0;
    }



    .footerInner{
      &__1{
        padding: 0 0 21px 15px;
        margin: 0 0 0 0;

        &Nav{
          &Menu{
            ul{
              li a{
                font-size: 13px;
              }
            }
          }
        }



        &Icon{
          max-width: 98px;
        }

        &Nav{
          display: none !important;
        }
      }

      &__2{
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin-bottom: 30px;

        &Top{
          display: block;
          padding: 21px 44px 20px 15px;
          border-bottom: 1px solid #e6e6e6;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.7;
        }



        &List{
          h2{
            padding: 21px 44px 20px 15px;
            margin: 0;
            border-bottom: 1px solid #e6e6e6;
            cursor: pointer;
            font-size: 14px;
            line-height: 1.7;
          }

          ul{
            display: none;
          }
        }
      }

      &__3{
        display: none;
      }

      &__4{
        display: none;
      }

      &__SP{
        display: block;

        &Title{
          background-color: #e6e6e6;
          font-size: 14px;
          font-weight: bold;

          h2{
            padding: 10px 15px 10px;
            color: #666;
          }
        }

        .RightLink{
          width: 8px;
          position: relative;
          top: -8px;
          left: 3px;
        }



        ul{
          display: flex;
          flex-wrap: wrap;
          margin: 20px 15px 30px;

          li{
            width: 44%;
            padding: 15px 0 0;
            line-height: 1.5;
          }
        }


        &4{
          &Icon{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px 15px 30px;


            a img{
              width: 22px;
            }
          }
        }

        &5{
          &Icon{
            padding: 20px 15px 30px;
            border-bottom: 1px solid #e6e6e6;

            a img{
              width: 40px;
            }
          }

          &Link{
            padding: 0 0 0 15px;
            margin: 0 !important;
          }

          &Descript{
            display: flex;
            align-items: center;
            padding: 20px 15px;

            img{
              width: 34px;
            }

            p{
              margin: 0 0 0 15px;
              color: #666;
              font-size: 12px;
            }
          }

          &Search{
            padding-bottom: 20px;
            border-bottom: 1px solid #e6e6e6;
            position: relative;

            input{
              width: 100%;
              padding: 10px;
              border: none;
            }

            span::after{
              content: "";
              width: 16px;
              height: 100%;
              background: url("https://www.orico.co.jp/common/images/icon/icon-search-01.svg") no-repeat;
              position: absolute;
              top: 10px;
              left: 97%;
            }
          }

          &Copy{
            padding: 0 15px 18px;
            color: #666;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }

      .nav-open{
        position: relative;
      }

      .nav-open::before{
        /* 閉じている時 */
        content: "＋";
        position: absolute;
        right: 20px;
      }

      .nav-open.footerOpen::before{
        /* 開いている時 */
        content: "－";
      }

      .footerListSP{
        display: none;

        li{
          padding: 21px 34px 15px 15px;
          margin: 0;
          border-bottom: 1px solid #e6e6e6;
        }

        a{
          font-size: 16px;
        }
      }
    }
  }
}