.l-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffff;
  border-bottom: 2px solid orangered;
  position: fixed;
  z-index: 100;

  &__logo{
    max-width: 196px;
    margin: 38px 30px;

    img{
      width: 170px;
    }
  }

  &__nav{
    width: 100%;
    position: relative;


    &Top{
      display: flex;
      justify-content: end;
      align-items: center;


      &Item a span{
        display: flex;
        padding: 0 0 0 2rem;
        margin: 17px 0;
        font-size: 14px;



        img{
          width: 8px;
        }
      }
    }

    &Bottom{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 59px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      &Item{
        align-items: center;
        height: 100%;
        margin: auto 0 20px 0;
        cursor: pointer;
        font-weight: bold;
        line-height: 55px;
        position: relative;
        transition: 0.3s;

        &:first-child{
          border-left: none;
        }

        a{
          padding: 0 50px 0 45px;
          border-left: 1px solid #e6e6e6;
        }



        &:hover{
          background: #fe622f;
          background-image: linear-gradient(135deg, #ff0600 0, #ff7200 100%);
          color: #ffff;
        }



        &::after{
          content: "▼";
          width: 1px;
          cursor: pointer;
          color: #fe622f;
          font-size: 1px;
          position: absolute;
          top: 2px;
          right: 20px;

          &:hover{
            transform: rotateY(90deg);
          }
        }
      }
    }
  }


  &__login{
    width: 157px;
    padding: 30px 25px;
    margin-left: 14px;
    background-color: #ebebeb;
    text-align: center;

    img{
      max-width: 98px;
      margin-bottom: 10px;
    }

    p{
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: bold;
    }

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 117px;
      height: 33px;
      background: #fe622f;
      background-image: linear-gradient(135deg, #ff0600 0, #ff7200 100%);
      border-radius: 5px;
      color: #ffff;
      font-size: 12px;
      text-align: center;


      img{
        width: 8px;
        margin-top: 9px;
        margin-left: 10px;
      }
    }
  }
}

/* ヘッダーメニュー */


.headerInner{
  width: 100%;
  position: fixed;
  top: 145px;
  z-index: 5;



  &__wrap{
    max-width: 1200px;
    margin: 40px auto;
  }

  &__top{
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    font-weight: bold;

    img{
      width: 20px;
      margin-right: 10px;
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &Inner{
      width: 100%;
    }



    &Title{
      display: flex;
      padding: 40px 0 30px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #e6e6e6;



      img{
        width: 20px;
        margin-right: 15px;
      }

      h3{
        font-size: 18px;
        font-weight: bold;
      }
    }

    li{
      padding: 15px 0;
      color: #666;
    }
  }
}


// .open{
//   top: 100px;
// }