main{
  padding-top: 147px;
}

.tabContents{
  display: none;
}

.tabContents.active{
  display: block;
}


/* Hero */


.hero{
  .swiper-container{
    width: 100%;
    // height: 459px;
    overflow: hidden;
    position: relative;
  }

  .swiper-button{
    &-next, &-prev{
      color: #000;
    }
  }

  .swiper-slide-duplicate, .swiper-slide{
    /* Center slide text vertically */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-position: center center;
    background-size: cover;
    font-size: 18px;
    text-align: center;

    /* Slide content */
    .description, .title{
      display: block;
      opacity: 0;
      transition: 0.5s ease 0.5s;
    }

    &-active{
      .description, .title{
        opacity: 1;
      }

      .title{
        margin-bottom: 0.5rem;
        color: #000;
        font-size: 24px;
        transition: opacity 0.5s ease 0.5s;
      }

      .description{
        color: #777;
        font-size: 16px;
        transition: opacity 0.5s ease 0.75s;
      }
    }
  }

  .swiper-progress-bar{
    display: block;
    width: 60%;
    height: 2px;
    position: relative;
    top: 100px;
    left: 12%;
    z-index: 1;

    .slide_progress-bar{
      clear: both;
      width: auto;
      height: 2px;
      background: #e6e6e6;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 45px;

      &:after{
        content: "";
        width: 0;
        height: 100%;
        background: #fe622f;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.1s width linear;
      }
    }

    &.active{
      .slide_progress-bar{
        opacity: 1;
      }
    }

    &.animate{
      .slide_progress-bar{
        &:after{
          width: 100%;
          transition: width linear;

          transition-delay: unset;
          transition-duration: 5s;
        }
      }
    }
  }
}


/* pagination */

.swiper-pagination{
  width: auto !important;
  margin: 0;
  position: absolute;
  top: -52px !important;
  left: auto !important;
  right: -200px;


  /* ページネーションのサイズと色 */
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #fe622f;
  }
}



/* News */

.NewsArea{
  margin: 103px 142px 0 142px;
  background-color: #ffece8;


  .Newswrap{
    display: flex;
    justify-content: center;
    width: 100%;
  }


  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25%;
    padding: 98px 68px;
    margin: 10px;
    border-right: 1px solid #ffff;
    color: #fd4522;
    font-weight: bold;
    text-align: center;

    img{
      width: 30px;
    }

    h2{
      width: 177px;
      font-size: 24px;
    }
  }

  &__list{
    width: 80%;
    margin: auto 50px;

    &Item{
      display: flex;
      gap: 40px;
      margin: 36px 0;

      dt{
        color: #999;
        font-size: 14px;
      }
    }
  }
}


/* Card Area */

.CardArea{
  padding-bottom: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f5f5f5;

  &__title{
    display: flex;
    align-items: center;
    padding: 100px 0 50px 0;

    h2{
      margin-left: 25px;
      font-size: 26px;
      font-weight: bold;
    }

    &Img{
      padding-right: 25px;
      border-right: 1px solid #e6e6e6;

      img{
        width: 30px;
      }
    }
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &Inner{
      max-width: 316px;
    }

    &Image{
      width: 100%;
      margin-bottom: 24px;
      background-color: #ffff;
      border-radius: 5px;
      box-shadow: 0 0.1rem 0.5rem 0 rgb(0 0 0 / 10%);
      text-align: center;

      img{
        max-width: 150px;
        margin: 58px 83px;
      }
    }

    &Title{
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
    }

    &Description{
      margin-bottom: 75px;
      color: #999;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
    gap: 25px;
  }
}



/* Article Area */


.ArticleArea{
  padding-bottom: 80px;

  &__title{
    display: flex;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: bold;

    h2{
      margin-left: 25px;
      font-size: 26px;
      font-weight: bold;
    }

    &Img{
      padding-right: 25px;
      border-right: 1px solid #e6e6e6;

      img{
        width: 30px;
      }
    }
  }

  &__card{
    display: flex;
    gap: 30px;
    margin-bottom: 103px;


    &List{
      max-width: 335px;
    }

    &Image{
      margin-bottom: 20px;

      img{
        border-radius: 5px;
      }
    }

    &Date{
      margin-bottom: 11px;
      color: #fe622f;
      font-weight: bold;
    }

    &Title{
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5;

      p{
        border-bottom: 1px solid #333;
      }
    }
  }


  &__btn{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 50px 0;
    background-color: #f5f5f5;

    .btn{
      width: 425px;
      text-align: center;
    }
  }

  &__topics{
    padding: 75px 0;
    margin: 100px 0 0 0;
    background-color: #f5f5f5;

    h3{
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    &Image{
      display: flex;
      justify-content: center;
      gap: 38px;

      img{
        width: 316px;
        border-radius: 5px;
      }
    }
  }
}



/* Login Area */

.LoginArea{
  margin-bottom: 100px;

  &__title{
    display: flex;
    margin-bottom: 50px;

    h2{
      margin-left: 25px;
      font-size: 26px;
      font-weight: bold;
    }

    &Img{
      padding-right: 25px;
      border-right: 1px solid #e6e6e6;

      img{
        width: 30px;
      }
    }
  }

  &__bottom{
    display: flex;

    &Left{
      padding: 50px;
      background-color: #f5f5f5;
      border-radius: 5px;

      &Wrap{
        background-color: #ffff;
        border-radius: 5px;
        text-align: center;
      }


      img{
        width: 225px;
        margin: 75px auto 30px auto;
      }

      h3{
        // width: 438px;
        margin: 38px 63px 52px 63px;
        font-size: 18px;
        line-height: 1.5;
      }

      &Orico{
        padding-bottom: 53px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 18px;
        line-height: 1.5;


        a{
          border-bottom: 1px solid #333;
        }
      }

      &Button{
        display: flex;
        height: 65px;
        margin: 31px 69px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;


        img{
          width: 8px;
          position: absolute;
          top: -48px;
          right: 15px;
        }


        &1{
          width: 425px;
          height: 65px;
          background: #fe622f;
          background-image: linear-gradient(135deg, #ff0600 0, #ff7200 100%);
          border-radius: 5px;
          color: #ffff;
        }

        &2{
          width: 425px;
          height: 65px;
          background: #ffff;
          border: 1px solid #fe622f;
          border-radius: 5px;
          color: #fe622f;
        }
      }


      &Link{
        padding-bottom: 50px;

        a span{
          padding-bottom: 1px;
          margin: 21px 0 0 38px;
          border-bottom: 1px solid #333;
          font-size: 20px;
          position: relative;

          &::before{
            content: "›";
            color: #fe622f;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: -15px;
          }
        }
      }
    }


    &Right{
      display: flex;
      justify-content: center;
      gap: 38px;
      margin: 0 auto;


      &Card{
        max-width: 313px;
        padding: 26px 0 0 0;
        border-top: 1px solid #e6e6e6;

        &Title{
          display: flex;
          margin-bottom: 28px;

          img{
            width: 32px;
            margin-right: 10px;
          }

          h3{
            font-size: 22px;
            font-weight: bold;
            line-height: 1.5;
          }
        }

        &Image{
          max-width: 313px;
          margin-bottom: 27px;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
        }

        &Name{
          display: flex;
          margin-bottom: 21px;

          h4{
            border-bottom: 1px solid #333;
            font-size: 20px;
            font-weight: bold;
          }

          img{
            width: 8px;
            margin-left: 5px;
          }
        }

        &Text{
          color: #999;
          font-size: 18px;
          line-height: 1.3;
        }
      }
    }
  }

  &__app{
    margin: 100px 0 154px 0;

    &Image{
      display: flex;
      justify-content: space-between;
      height: 225px;
      padding: 50px;
      margin-bottom: 27px;
      background-image: url("https://www.orico.co.jp/common/images/module/bg-box-03.jpg");
      background-repeat: no-repeat;
      background-position: 35% 50%;
      background-size: cover;
      border-radius: 5px;

      &Icon{
        width: 125px;
        margin-right: 38px;
      }


      &Text{
        margin-right: 113px;
        color: #ffff;
        line-height: 1.5;

        h3{
          margin: 18px 0;
          font-size: 24px;
          font-weight: bold;
        }

        p{
          font-size: 20px;
        }
      }

      &Btn{
        display: flex;
        gap: 25px;
        height: 90px;
        padding: 25px;
        margin-top: 15px;
        background-color: #ffff;
        border-radius: 5px;

        a{
          transition: 0.3s;

          &:hover{
            opacity: 0.5;
          }

          img{
            height: 40px;
          }
        }
      }
    }

    &Discript{
      margin: 28px 0 50px 0;

      p{
        padding-bottom: 6px;
        color: #777;
        font-size: 18px;
        line-height: 1.5;
      }
    }

    &Btn{
      max-width: 425px;
      height: 165px;
      padding: 50px;
      background-color: #f5f5f5;
      border-radius: 5px;

      .btn{
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      img{
        width: 8px;
        position: absolute;
        top: 28px;
        right: 16px;
      }
    }
  }
}






/* NewsArea 1 */


.NewsArea1{
  margin-bottom: 100px;

  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    border-bottom: 1px solid #e6e6e6;

    ul{
      display: flex;
      gap: 6px;



      li{
        display: inline-block;
        transition: 0.3s;

        &.active{
          border-bottom: 2px solid #fe622f;
          color: #fe622f;
          font-weight: bold;
        }

        a{
          display: block;
          padding: 0.4rem 0.9rem 0.5rem;
          background-color: #f5f5f5;
          border: 1px solid #f5f5f5;
          border-radius: 5px;
          box-shadow: 0 0.1rem 0.1rem 0 rgb(0 0 0 / 10%);
          font-size: 1.1rem;
          transition: 0.3s;
        }
      }
    }
  }

  &__inner{
    &Item{
      display: flex;
      margin-bottom: 52px;

      ul{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        li:nth-child(1){
          color: #999;
          font-size: 18px;
        }

        li:nth-child(2){
          width: 118px;
          height: 29px;
          border: 1px solid #cccc;
          border-radius: 20px;
          color: #666;
          line-height: 26px;
          text-align: center;
        }
      }

      &Content{
        display: flex;
        margin-left: 38px;
        font-size: 20px;

        img{
          margin-left: 12px;
        }
      }
    }
  }


  &__Btn{
    height: 165px;
    padding: 50px;
    margin-bottom: 150px;
    background-color: #f5f5f5;
    border-radius: 5px;

    .btn{
      width: 425px;
      margin: 0 auto;
      position: relative;
    }

    img{
      width: 8px;
      position: absolute;
      top: 28px;
      right: 16px;
    }
  }


  &__pic{
    display: flex;
    gap: 50px;
    margin-bottom: 101px;



    &Inner{
      width: 306px;


      a{
        transition: 0.3s;

        img{
          border-radius: 5px;
        }

        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}


/* Caution */

.Caution{
  margin-bottom: 153px;

  &__Inner{
    display: flex;
    border: 1px solid #fe622f;
    border-radius: 15px;

    &Left{
      padding: 75px 104px 283px 95px;
      border-right: 1px solid #fe622f;

      img{
        width: 37px;
        margin-bottom: 30px;
      }

      h2{
        font-size: 26px;
        font-weight: bold;
        line-height: 1.3;

        writing-mode: vertical-lr;
      }
    }

    &Right{
      padding: 58px 75px;

      &Top{
        display: flex;
        gap: 38px;
        width: 1006px;
        padding-bottom: 53px;
        margin-bottom: 53px;
        border-bottom: 1px solid #e6e6e6;
      }

      &Mid{
        margin-bottom: 52px;

        ul{
          display: flex;
          flex-wrap: wrap;
          gap: 20px 0;

          li{
            width: 500px;
            font-size: 18px;
          }
        }
      }

      &Bottom{
        ul{
          display: flex;
          flex-wrap: wrap;
          gap: 13px;

          li{
            width: 238px;

            a{
              transition: 0.3s;

              &:hover{
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}


.returnTop{
  margin-bottom: 53px;
  text-align: right;
}





/*  -- sp  -- */


@media screen and(max-width: 600px){
  /* News Area */

  .NewsArea{
    margin: 30px 0 0 0;



    .Newswrap{
      flex-direction: column;
    }

    &__title{
      justify-content: flex-start;
      width: 96%;
      padding: 12px 15px;
      border-right: none;
      border-bottom: 2px solid #ffff;

      writing-mode: initial;

      img{
        width: 18px;
      }

      h2{
        font-size: 13px;
        text-align: left;
      }
    }

    &__list{
      width: 100%;
      margin: 0;


      &Item{
        gap: 10px;
        margin: 15px 16px;
        font-size: 12px;
        line-height: 1.7;

        dt{
          width: 180px;
        }

        dd{
          width: 100%;
        }
      }
    }
  }


  /* Card Area */


  .CardArea{
    margin-top: 40px;

    &__title{
      align-items: center;
      padding: 50px 0 50px 0;

      h2{
        font-size: 17px;
      }

      &Img{
        padding-right: 0;
        border-right: none;

        img{
          width: 24px;
        }
      }
    }

    &__list{
      &Image{
        width: 100%;

        img{
          max-width: 85px;
          margin: 20px auto;
        }
      }

      &Title{
        font-size: 15px;
      }

      &Description{
        font-size: 13px;
      }


      &Inner{
        max-width: 44%;
      }
    }

    &__btn{
      flex-direction: column;

      span{
        &::after{
          top: 5px;
        }
      }
    }
  }


  /* Article */

  .ArticleArea{
    padding: 0 0 70px 0;


    &__title{
      align-items: center;

      h2{
        font-size: 17px;
      }

      &Img{
        padding-right: 0;
        border-right: none;

        img{
          width: 24px;
        }
      }
    }

    &__card{
      overflow: hidden;
    }

    &__btn{
      flex-direction: column;
      padding: 40px 20px;

      .btn{
        width: 100%;

        span::after{
          top: 4px;
        }
      }
    }

    &__topics{
      padding: 20px 0;

      h3{
        font-size: 17px;
      }

      &Image{
        flex-wrap: wrap;
        gap: 15px;

        img{
          max-width: 165px;
        }
      }
    }
  }

  /* Login Area */

  .LoginArea{
    &__title{
      margin-bottom: 30px;

      &Img{
        padding-right: 0;
        border-right: none;
      }

      img{
        width: 24px;
      }

      h2{
        font-size: 17px;
      }
    }

    &__bottom{
      flex-direction: column;

      &Left{
        padding: 20px;

        img:first-child{
          width: 150px;
        }

        h3{
          margin: 0 20px 20px 20px;
          font-size: 14px;
        }

        &Orico{
          padding: 0 0 20px 0;
          font-size: 14px;
        }

        &Button{
          height: 40px;
          margin: 20px;
          font-size: 15px;
          line-height: 50px;

          img{
            top: -55px;
            right: 5%;
          }

          &1{
            width: 100%;
            height: 47.5px;
          }

          &2{
            width: 100%;
            height: 47.5px;
          }
        }

        &Link{
          padding: 10px 30px 50px 0;

          a{
            span{
              font-size: 15px;
            }
          }
        }
      }

      &Right{
        &Card{
          &Title{
            align-items: flex-start;

            h3{
              font-size: 16px;
            }

            img{
              width: 16px;
            }
          }

          &Name{
            h4{
              border-bottom: none;
              font-size: 14px;
            }
          }

          &Text{
            font-size: 14px;
          }
        }
      }
    }

    &__app{
      margin: 90px 0 0 0;

      &Image{
        padding: 40px 20px;

        &Icon{
          width: 60px;
        }

        &Text{
          margin: 0 auto;

          h3{
            margin: 0 0 18px 0;
            font-size: 17px;
          }

          p{
            font-size: 13px;
          }
        }

        &Btn{
          display: none;
        }
      }

      &Discript{
        a{
          font-size: 15px;
        }

        p{
          font-size: 13px;
        }
      }

      &Btn{
        max-width: 100%;
        height: auto;
        padding: 40px 25px;

        img{
          top: 18px;
        }
      }
    }
  }
}