#main{
  transition: 1s;
}

.tabContents{
  display: none;
}

.tabContents.active{
  display: block;
}


/* Hero */


.hero{
  .swiper-container{
    width: 100%;
    overflow: hidden;
    position: relative;
  }


  .swiper-button{
    &-next, &-prev{
      content: "";
      width: 56px;
      height: 56px;
      margin: auto 0;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 5%);
      top: 40%;
    }

    &-next{
      background: url("https://www.orico.co.jp/common/images/icon/icon-arrow-14.svg") center center no-repeat;
    }

    &-prev{
      background: url("https://www.orico.co.jp/common/images/icon/icon-arrow-14.svg") center center no-repeat;
      transform: rotate(180deg);
    }
  }

  .swiper-slide-duplicate, .swiper-slide{
    /* Center slide text vertically */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-position: center center;
    background-size: cover;
    font-size: 18px;
    text-align: center;

    /* Slide content */
    .description, .title{
      display: block;
      opacity: 0;
      transition: 0.5s ease 0.5s;
    }

    &-active{
      .description, .title{
        opacity: 1;
      }

      .title{
        margin-bottom: 0.5rem;
        color: #000;
        font-size: 24px;
        transition: opacity 0.5s ease 0.5s;
      }

      .description{
        color: #777;
        font-size: 16px;
        transition: opacity 0.5s ease 0.75s;
      }
    }
  }

  .swiper-progress-bar{
    display: block;
    width: 60%;
    height: 2px;
    position: relative;
    top: 100px;
    left: 12%;
    z-index: 1;

    .slide_progress-bar{
      clear: both;
      width: auto;
      height: 2px;
      background: #e6e6e6;
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 45px;

      &:after{
        content: "";
        width: 0;
        height: 100%;
        background: #fe622f;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.1s width linear;
      }
    }

    &.active{
      .slide_progress-bar{
        opacity: 1;
      }
    }

    &.animate{
      .slide_progress-bar{
        &:after{
          width: 100%;
          transition: width linear;

          transition-delay: unset;
          transition-duration: 5s;
        }
      }
    }
  }
}

/* deleate default pagination */

.swiper-button-next::after, .swiper-button-prev::after{
  content: none !important;
}


/* pagination */

.swiper-pagination{
  width: auto !important;
  margin: 0;
  position: absolute;
  top: -52px !important;
  left: auto !important;
  right: -200px;


  /* ページネーションのサイズと色 */
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #fe622f;
  }
}


/* News */

.NewsArea{
  margin: 103px 142px 0 142px;
  background-color: #ffece8;


  .Newswrap{
    display: flex;
    justify-content: center;
    width: 100%;
  }


  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25%;
    padding: 98px 68px;
    margin: 10px;
    border-right: 1px solid #ffff;
    color: #fd4522;
    font-weight: bold;
    text-align: center;

    img{
      width: 30px;
    }

    h2{
      width: 177px;
      font-size: 24px;
    }
  }

  &__list{
    width: 80%;
    margin: auto 50px;

    &Item{
      display: flex;
      gap: 40px;
      margin: 36px 0;

      dt{
        color: #999;
        font-size: 14px;
      }

      dd{
        a{
          &:hover{
            border-bottom: 1px solid #333;
          }
        }
      }
    }
  }
}


/* Card Area */

.CardArea{
  padding-bottom: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #f5f5f5;

  &__title{
    display: flex;
    align-items: center;
    padding: 100px 0 50px 0;

    h2{
      margin-left: 25px;
      font-size: 26px;
      font-weight: bold;
    }

    &Img{
      padding-right: 25px;
      border-right: 1px solid #e6e6e6;

      img{
        width: 30px;
      }
    }
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &Inner{
      max-width: 316px;
    }

    &Image{
      width: 100%;
      margin-bottom: 24px;
      background-color: #ffff;
      border-radius: 5px;
      box-shadow: 0 0.1rem 0.5rem 0 rgb(0 0 0 / 10%);
      text-align: center;

      img{
        max-width: 150px;
        margin: 58px 83px;
      }
    }

    &Title{
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
    }

    &Description{
      margin-bottom: 75px;
      color: #999;
    }
  }

  &__btn{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;

    .btn{
      width: 456px;
      // height: 65px;
      font-size: 18px;
      text-align: center;
    }
  }
}



/* Article Area */


.ArticleArea{
  padding-bottom: 80px;

  &__title{
    display: flex;
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: bold;

    h2{
      margin-left: 25px;
      font-size: 26px;
      font-weight: bold;
    }

    &Img{
      padding-right: 25px;
      border-right: 1px solid #e6e6e6;

      img{
        width: 30px;
      }
    }
  }

  &__card{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 103px;


    &List{
      max-width: 335px;

      a{
        transition: 0.3s;

        &:hover{
          opacity: 0.6;
        }
      }
    }

    &Image{
      margin-bottom: 20px;

      img{
        border-radius: 5px;
      }
    }

    &Date{
      margin-bottom: 11px;
      color: #fe622f;
      font-weight: bold;
    }

    &Title{
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5;
    }
  }


  &__btn{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 50px 0;
    background-color: #f5f5f5;

    .btn{
      width: 425px;
      text-align: center;
    }
  }

  &__topics{
    padding: 75px 0;
    margin: 100px 0 0 0;
    background-color: #f5f5f5;
    overflow: hidden;

    h3{
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    &Image{
      display: flex;
      justify-content: center;
      gap: 38px;
      overflow-x: scroll;

      img{
        width: 316px;
        border-radius: 5px;
      }
    }
  }
}



/* Login Area */

.LoginArea{
  margin-bottom: 40px;

  &__title{
    display: flex;
    margin-bottom: 50px;

    h2{
      margin-left: 25px;
      font-size: 26px;
      font-weight: bold;
    }

    &Img{
      padding-right: 25px;
      border-right: 1px solid #e6e6e6;

      img{
        width: 30px;
      }
    }
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;

    &Left{
      width: 50%;
      max-width: 563px;
      padding: 50px;
      background-color: #f5f5f5;
      border-radius: 5px;

      &Wrap{
        background-color: #ffff;
        border-radius: 5px;
        box-shadow: 0 0.2rem 0.3rem 0 rgb(0 0 0 / 10%);
        text-align: center;
      }


      img{
        width: 225px;
        margin: 75px auto 30px auto;
      }

      h3{
        margin: 38px 63px 52px 63px;
        font-size: 18px;
        line-height: 1.5;
      }

      &Orico{
        padding-bottom: 53px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 18px;
        line-height: 1.5;


        a{
          border-bottom: 1px solid #333;
        }
      }

      &Button{
        display: flex;
        height: 65px;
        margin: 31px 69px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        position: relative;
        left: 0;
        right: 0;


        img{
          width: 8px;
          position: absolute;
          top: -48px;
          right: 15px;
        }


        &1{
          width: 425px;
          height: 65px;
          background: #fe622f;
          background-image: linear-gradient(135deg, #ff0600 0, #ff7200 100%);
          border-radius: 5px;
          color: #ffff;
        }

        &2{
          width: 425px;
          height: 65px;
          background: #ffff;
          border: 1px solid #fe622f;
          border-radius: 5px;
          color: #fe622f;
        }
      }


      &Link{
        padding-bottom: 50px;

        a span{
          padding-bottom: 1px;
          margin: 21px 0 0 38px;
          border-bottom: 1px solid #333;
          font-size: 20px;
          position: relative;

          &::before{
            content: "›";
            color: #fe622f;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: -15px;
          }
        }
      }
    }


    &Right{
      display: flex;
      justify-content: space-around;
      gap: 38px;
      width: 50%;
      margin: 0 auto;


      &Card{
        max-width: 313px;
        padding: 26px 0 0 0;
        border-top: 1px solid #e6e6e6;

        &Title{
          display: flex;
          margin-bottom: 28px;

          img{
            width: 32px;
            margin-right: 10px;
          }

          h3{
            font-size: 22px;
            font-weight: bold;
            line-height: 1.5;
          }
        }

        &Image{
          max-width: 313px;
          height: 370px;
          margin-bottom: 27px;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
          text-align: center;

          img{
            // width: 200px;
            // margin-top: 146px;
          }
        }

        &Name{
          display: flex;
          margin-bottom: 21px;

          h4{
            border-bottom: 1px solid #333;
            font-size: 20px;
            font-weight: bold;
          }

          img{
            width: 8px;
            margin-left: 5px;
          }
        }

        &Text{
          color: #999;
          font-size: 18px;
          line-height: 1.3;
        }
      }
    }
  }

  &__app{
    margin: 100px 0 0 0;




    &Image{
      display: flex;
      justify-content: space-between;
      height: 225px;
      padding: 50px;
      margin-bottom: 27px;
      background-image: url("https://www.orico.co.jp/common/images/module/bg-box-03.jpg");
      background-repeat: no-repeat;
      background-position: 35% 50%;
      background-size: cover;
      border-radius: 5px;

      &Wrap{
        display: flex;
      }

      &Icon{
        width: 125px;
        margin-right: 38px;
      }

      &Text{
        margin-right: 113px;
        color: #ffff;
        line-height: 1.5;

        h3{
          margin: 18px 0;
          font-size: 24px;
          font-weight: bold;
        }

        p{
          font-size: 20px;
        }
      }

      &Btn{
        display: flex;
        gap: 25px;
        width: 100%;
        max-width: 303px;
        height: 90px;
        padding: 25px;
        margin-top: 15px;
        background-color: #ffff;
        border-radius: 5px;


        a{
          transition: 0.3s;

          &:hover{
            opacity: 0.5;
          }

          img{
            height: 40px;
          }
        }
      }
    }

    &Discript{
      margin: 28px 0 50px 0;

      p{
        padding-bottom: 6px;
        color: #777;
        font-size: 18px;
        line-height: 1.5;
      }
    }

    &Btn{
      // max-width: 425px;
      height: 165px;
      padding: 50px;
      background-color: #f5f5f5;
      border-radius: 5px;

      .btn{
        width: 100%;
        max-width: 425px;
        margin: 0 auto;
        position: relative;
      }

      img{
        width: 8px;
        position: absolute;
        top: 28px;
        right: 16px;
      }
    }
  }
}






/* NewsArea 1 */


.NewsArea1{
  margin-bottom: 100px;

  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    border-bottom: 1px solid #e6e6e6;

    ul{
      display: flex;
      gap: 6px;



      li{
        display: inline-block;
        transition: 0.3s;

        a{
          transition: 0.3s;

          &:hover{
            box-shadow: 0 0.2rem 0.2rem 0 rgb(0 0 0 / 20%);
          }
        }

        &.active{
          border-bottom: 2px solid #fe622f;
          color: #fe622f;
          font-weight: bold;
        }

        a{
          display: block;
          padding: 0.4rem 0.9rem 0.5rem;
          background-color: #f5f5f5;
          border: 1px solid #f5f5f5;
          border-radius: 5px;
          box-shadow: 0 0.1rem 0.1rem 0 rgb(0 0 0 / 10%);
          font-size: 1.1rem;
          transition: 0.3s;
        }
      }
    }
  }

  &__inner{
    &Item{
      margin-bottom: 52px;



      ul{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }

      &Content{
        display: flex;
        margin-left: 38px;
        font-size: 20px;

        img{
          margin-left: 12px;
        }

        &Wrap1{
          display: flex;
          align-items: center;

          li:nth-child(1){
            color: #999;
            font-size: 18px;
          }

          li:nth-child(2){
            width: 118px;
            height: 29px;
            border: 1px solid #cccc;
            border-radius: 20px;
            color: #666;
            line-height: 26px;
            text-align: center;
          }
        }
      }
    }
  }


  &__Btn{
    height: 165px;
    padding: 50px;
    margin-bottom: 150px;
    background-color: #f5f5f5;
    border-radius: 5px;

    .btn{
      width: 425px;
      margin: 0 auto;
      position: relative;
    }

    img{
      width: 8px;
      position: absolute;
      top: 28px;
      right: 16px;
    }
  }


  &__pic{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 15px;
    margin-bottom: 101px;



    &Inner{
      width: 306px;


      a{
        transition: 0.3s;

        img{
          border-radius: 5px;
        }

        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}

.NewsArea1{
  &__Btn{
    margin: 0 !important;

    .btn{
      img{
        width: 8px;
      }
    }
  }

  img{
    width: 30px;
  }

  .tab{
    padding: 40px 0;

    .NewsArea1__1{
      display: flex;


      h2{
        margin-left: 25px;
        font-size: 26px;
        font-weight: bold;
      }

      &Img{
        padding-right: 25px;
        border-right: 1px solid #e6e6e6;

        img{
          width: 30px;
        }
      }
    }
  }



  .tab .tab-catList{
    display: flex;
    justify-content: space-between;
    width: 100%;



    .TabBox{
      display: flex;
    }
  }

  .tab .tab-catList li{
    padding: 10px 15px;
    margin-left: 6px;
    background: #ddd;
    background: #f5f5f5;
    border: none;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.1rem 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    color: #333;
    font-size: 13px;
  }

  .tab .tab-catList li.is-active{
    background: #fff;
    border: 1px solid #fe4521;
    cursor: auto;
    color: #fe4521;
    font-weight: 700;
  }

  .tab .tab-catList li:first-of-type{
    margin-left: 0;
  }


  .tab .tab-box{
    display: none;
    padding: 15px 40px 40px 0;
    margin-top: 40px;
    border-top: 2px solid #f5f5f5;
  }


  .tab .tab-box .tab-boxList li{
    display: flex;
    margin-top: 25px;
  }

  .tab .tab-box .tab-boxList .tab-boxList__date{
    width: 140px;

    p{
      color: #999;
      font-size: 14px;
    }
  }

  .tab .tab-box .tab-boxList .tab-boxList__cat{
    width: 200px;

    a{
      display: block;
      padding: 0 1rem 0rem;
      margin: 0 auto;
      margin-right: 50px;
      border: solid 1px #ccc;
      border-radius: 1rem;
      color: #666;
      font-size: 0.8rem;
      text-align: center;
    }
  }


  .tab .tab-box .tab-boxList .tab-boxList__title{
    width: calc(100% - 260px);
  }
}


@media screen and(max-width: 600px){
  .NewsArea1{
    &__Btn{
      margin: 0;
    }

    .tab .tab-box .tab-boxList .tab-boxList__cat{
      width: 130px;
    }

    .tab{
      .NewsArea1__1{
        margin-bottom: 30px;
      }

      .tab-catList{
        flex-direction: column;

        .TabBox{
          padding-bottom: 30px;
          margin: 0 -20px 0 0;
          overflow-x: scroll;
        }
      }

      /* Tab Content */

      .tab-box{
        padding: 15px 0 40px 0;
        margin-top: -5px;


        &List{
          padding-bottom: 20px;
          overflow-x: scroll;

          .tab-boxList__cat{
            width: 156px !important;

            a{
              margin-right: 0 !important;
            }
          }

          li{
            flex-wrap: wrap;
            width: 100%;
            // overflow: hidden;

            .tab-boxList__date{
              width: 40%;
            }



            .tab-boxList__title{
              width: 200px;


              h3{
                width: 200px !important;

                a{
                  width: 200px !important;
                  // color: red;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1360px){
  .NewsArea1{
    &__Btn{
      margin: 0;

      .btn{
        img{
          width: 8px;
        }
      }
    }

    .tab{
      .NewsArea1__1{
        margin-bottom: 30px;
      }

      .tab-catList{
        flex-direction: column;

        .TabBox{
          overflow-x: scroll;
        }
      }

      /* Tab Content */

      .tab-box{
        &List li{
          // flex-wrap: wrap;
          width: 100%;

          &__date{
            width: 40%;
          }

          &__cat{
            width: 40%;
          }

          &__title{
            width: 100%;
          }
        }
      }
    }
  }
}

/* Caution */

.Caution{
  margin-bottom: 153px;
  overflow: hidden;

  &__Inner{
    display: flex;
    border: 1px solid #fe622f;
    border-radius: 15px;

    &Left{
      padding: 75px 104px 283px 95px;
      border-right: 1px solid #fe622f;

      img{
        width: 37px;
        margin-bottom: 30px;
      }

      h2{
        font-size: 26px;
        font-weight: bold;
        line-height: 1.3;

        writing-mode: vertical-lr;
      }
    }

    &Right{
      padding: 58px 75px;

      &Top{
        display: flex;
        gap: 38px;
        // width: 1006px;
        padding-bottom: 53px;
        margin-bottom: 53px;
        border-bottom: 1px solid #e6e6e6;
      }

      &Mid{
        margin-bottom: 52px;
        transition: 1s;

        ul{
          display: flex;
          flex-wrap: wrap;
          gap: 20px 0;

          li{
            width: 500px;
            font-size: 18px;
          }
        }
      }

      &Bottom{
        transition: 1s;

        ul{
          display: flex;
          flex-wrap: wrap;
          gap: 13px;

          li{
            width: 238px;

            a{
              transition: 0.3s;

              &:hover{
                opacity: 0.5;
              }
            }
          }
        }
      }

      &Hide{
        display: none;
        cursor: pointer;
        font-size: 15px;
        text-align: center;
        position: relative;

        &::after{
          content: "";
          display: block;
          width: 2%;
          height: 100%;
          background: url("https://www.orico.co.jp/common/images/icon/icon-arrow-03.svg")left center no-repeat;
          background-size: 100%;
          position: absolute;
          top: -1px;
          right: 105px;
          transform: rotate(90deg);
        }
      }
    }
  }
}



.returnTop{
  margin-bottom: 53px;
  text-align: right;
  transition: 0.3s;

  &:hover{
    opacity: 0.5;
  }

  span{
    font-size: 14px;

    &::before{
      top: 3px;
    }
  }
}

.menu{
  transition: 1s;
}

.menu.is-open{
  display: block;
  transition: 1s;
}



/*  -- sp  -- */


@media screen and(max-width: 600px){
  .hero{
    .swiper-button-prev{
      display: none;
    }

    .swiper-button-next{
      display: none;
    }

    .swiper-progress-bar{
      top: 102px;
      left: 8%;

      .slide_progress-bar{
        right: 32px !important;
      }

      &::after{
        left: -30px;
      }
    }

    .swiper-pagination{
      top: -55px;
      right: -105px !important;


      .swiper-pagination-bullet{
        width: 5px;
        height: 5px;
      }
    }
  }


  /* News Area */

  .NewsArea{
    margin: 30px 0 0 0;



    .Newswrap{
      flex-direction: column;
    }

    &__title{
      justify-content: flex-start;
      width: 96%;
      padding: 12px 15px;
      margin: 0 10px;
      border-right: none;
      border-bottom: 2px solid #ffff;

      writing-mode: initial;

      img{
        width: 18px;
      }

      h2{
        font-size: 13px;
        text-align: left;
      }
    }

    &__list{
      width: 100%;
      margin: 0;


      &Item{
        gap: 10px;
        margin: 15px 16px;
        font-size: 12px;
        line-height: 1.7;

        dt{
          width: 166px !important;
          font-size: 12px;
        }

        dd{
          width: 100%;
        }
      }
    }
  }


  /* Card Area */


  .CardArea{
    margin-top: 40px;

    &__title{
      align-items: center;
      padding: 50px 0 50px 0;

      h2{
        font-size: 17px;
      }

      &Img{
        padding-right: 0;
        border-right: none;

        img{
          width: 24px;
        }
      }
    }

    &__list{
      justify-content: space-evenly;

      &Image{
        width: 100%;
        margin-bottom: 15px;

        img{
          max-width: 85px;
          margin: 20px auto;
        }
      }

      &Title{
        font-size: 15px;
      }

      &Description{
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 1.5;
      }


      &Inner{
        max-width: 44%;
      }
    }

    &__btn{
      flex-direction: column;

      span{
        &::after{
          top: 5px;
        }
      }
    }
  }


  /* Article */

  .ArticleArea{
    padding: 0 0 70px 0;


    &__title{
      align-items: center;
      padding: 0 !important;


      h2{
        font-size: 17px;
      }

      &Img{
        padding-right: 0;
        border-right: none;

        img{
          width: 24px;
        }
      }
    }

    &__card{
      justify-content: flex-start;
      overflow-x: scroll;


      &List{
        width: 282px;

        &Image{
          img{
            width: 282px;
          }
        }
      }
    }

    &__btn{
      flex-direction: column;
      padding: 40px 20px;

      .btn{
        width: 100%;

        span::after{
          top: 4px;
        }
      }
    }

    &__topics{
      padding: 20px 0;



      h3{
        font-size: 17px;
      }

      &Image{
        flex-wrap: wrap;
        gap: 15px;
        overflow-x: scroll;

        img{
          max-width: 165px;
        }
      }
    }
  }

  /* Login Area */

  .LoginArea{
    &__title{
      padding: 0 !important;
      margin-bottom: 30px;

      &Img{
        padding-right: 0;
        border-right: none;
      }

      img{
        width: 24px;
      }

      h2{
        font-size: 17px;
      }
    }

    &__bottom{
      flex-direction: column;

      &Left{
        padding: 20px;



        img:first-child{
          width: 150px;
          margin: 45px auto 30px auto;
        }

        h3{
          margin: 0 20px 20px 20px;
          font-size: 14px;
        }

        &Orico{
          padding: 0 0 20px 0;
          font-size: 14px;
        }

        &Button{
          height: 40px;
          margin: 20px;
          font-size: 15px;
          line-height: 50px;

          img{
            top: -55px;
            right: 5%;
          }

          &1{
            width: 100%;
            height: 47.5px;
          }

          &2{
            width: 100%;
            height: 47.5px;
          }
        }

        &Link{
          padding: 10px 30px 50px 0;

          a{
            span{
              font-size: 15px;
            }
          }
        }
      }

      &Right{
        gap: 15px;

        &Card{
          &Title{
            align-items: flex-start;

            h3{
              font-size: 16px;
            }

            img{
              width: 16px;
            }
          }

          &Name{
            h4{
              border-bottom: none;
              font-size: 14px;
            }
          }

          &Text{
            font-size: 14px;
          }
        }
      }
    }

    &__app{
      margin: 90px 0 0 0;

      &Image{
        flex-direction: column;
        height: 291px;
        padding: 40px 20px;

        &Icon{
          width: 108px;
          max-width: 60px;
          margin-right: 10px;
        }

        &Text{
          margin: 0 auto;

          h3{
            margin: 0 0 18px 0;
            font-size: 17px !important;
          }

          p{
            font-size: 13px !important;
          }
        }

        &Btn{
          gap: 20px;
          height: 80px;
          padding: 20px;
        }
      }

      &Discript{
        a{
          font-size: 15px;
        }

        p{
          font-size: 13px;
        }
      }

      &Btn{
        max-width: 100%;
        height: auto;
        padding: 40px 25px;

        img{
          top: 18px;
        }
      }
    }
  }



  /* News Area */

  .NewsArea1{
    &__title{
      ul{
        overflow-x: scroll;
      }
    }

    &__inner{
      &Item{
        ul{
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #e6e6e6;
        }

        &Content{
          align-items: baseline;

          p{
            line-height: 1.5;
          }
        }
      }
    }

    &__pic{
      flex-wrap: wrap;
      justify-content: center;

      &Inner{
        max-width: 165px;
      }
    }

    &__Btn{
      height: 100%;
      padding: 40px 25px;
    }
  }


  /* Caution */


  .Caution{
    &__Inner{
      flex-direction: column;

      &Left{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 22px 0;
        margin: 0 auto;
        border-right: none;
        border-bottom: 1px solid #fd4522;

        h2{
          writing-mode: inherit;
        }

        img{
          margin-bottom: 0;
        }
      }

      &Right{
        padding: 30px 15px 22px 15px !important;

        &Top{
          gap: 15px;
          padding-bottom: 30px;
          margin-bottom: 22px;
          font-size: 18px;

          .LinkTextArrow{
            font-size: 18px;

            a{
              font-size: 18px;
              line-height: 1.5;

              span{
                font-size: 15px;
              }
            }
          }
        }

        &Mid{
          display: none;
        }

        &Bottom{
          display: none;
          margin-bottom: 20px;

          ul li{
            max-width: 149px;
          }
        }

        &Hide{
          display: block;
        }
      }
    }
  }
}



@media screen and(max-width: 1360px){
  /* Hero */

  .hero{
    .swiper-progress-bar{
      .swiper-pagination{
        top: -94px !important;
        left: auto !important;
        right: -150px;

        .swiper-pagination-bullet{
          width: 7px;
          height: 7px;
        }
      }

      .slide_progress-bar{
        left: -8px;
        right: 2px;
        bottom: 84px;
      }
    }
  }

  /* Card Area */


  .CardArea{
    &__title{
      align-items: center;

      h2{
        font-size: 17px;
      }

      img{
        width: 24px;
      }
    }

    &__btn{
      padding: 0 15px;

      .btn{
        width: 100%;
        font-size: 15px;
      }
    }
  }


  /* Article Area */

  .ArticleArea{
    &__title{
      align-items: center;
      padding: 0 15px;

      h2{
        font-size: 17px;
      }

      img{
        width: 24px;
      }
    }

    &__card{
      padding-bottom: 15px;
      overflow-x: scroll;

      white-space: nowrap;


      &List{
        display: block;
        width: 299px;
      }
    }

    &__btn{
      justify-content: center;
    }
  }


  /* LoginArea */

  .LoginArea{
    &__title{
      align-items: center;
      padding: 0 15px;

      h2{
        font-size: 17px;
      }

      img{
        width: 24px;
      }
    }

    &__bottom{
      flex-direction: column;
      justify-content: center;

      &Left{
        margin: 0 auto;
      }

      &Right{
        &Card{
          border-top: none;
        }
      }
    }

    &__app{
      &Image{
        &Text{
          margin-right: 0;

          h3{
            font-size: 20px;
          }

          p{
            font-size: 16px;
          }
        }
      }

      &Btn{
        img{
          top: 18px;
        }
      }

      &Discript{
        margin: 28px 0 30px 0;

        .LinkTextArrow{
          a span{
            font-size: 16px;
          }
        }

        p{
          font-size: 14px;
        }
      }
    }
  }

  /* NewsArea at the Top */

  .NewsArea{
    margin: 30px 0 0 0;



    .Newswrap{
      flex-direction: column;
    }

    &__title{
      justify-content: flex-start;
      width: 96%;
      padding: 12px 15px;
      border-right: none;
      border-bottom: 2px solid #ffff;

      writing-mode: initial;

      img{
        width: 18px;
      }

      h2{
        font-size: 13px;
        text-align: left;
      }
    }

    &__list{
      width: 100%;
      margin: 0;


      &Item{
        gap: 10px;
        margin: 15px 16px;
        font-size: 12px;
        line-height: 1.7;

        dt{
          width: 180px;
        }

        dd{
          width: 100%;
        }
      }
    }
  }

  /* NewsArea1 */

  .NewsArea1{
    .wrapper{
      padding: 0;
    }

    .tab{
      padding-bottom: 10px;

      white-space: nowrap;

      li a{
        font-size: 13px;
      }
    }

    &__title{
      flex-direction: column;
      overflow: auto;

      .sectitle{
        align-items: center;
        padding: 0 15px;

        h2{
          font-size: 17px;
        }

        img{
          width: 24px;
        }
      }

      ul{
        display: inline-block;

        li{
          margin: 5px;
        }
      }
    }

    &__inner{
      &Item{
        padding: 0 15px;

        ul{
          flex-direction: column;
          align-items: flex-start;
        }

        &Content{
          margin-left: 0;
          font-size: 13px;
        }
      }
    }

    &__Btn{
      margin: 0 15px 90px 15px;

      .btn{
        width: 100%;

        img{
          top: 18px;
        }
      }
    }

    &__pic{
      gap: 15px;

      &Inner{
        width: 320px;
      }
    }
  }


  .NewsArea1__innerItemContentWrap1{
    gap: 10px;
    margin-bottom: 12px;

    li:nth-child(1){
      font-size: 13px;
    }

    li:nth-child(2){
      width: 94px;
      height: 23px;
      font-size: 12px;
      line-height: 22px;
    }
  }


  .Caution{
    &__Inner{
      &Left{
        padding: 60px auto 18px auto;


        img{
          width: 30px;
        }

        h2{
          font-size: 20px;
        }
      }

      &Right{
        padding: 45px 60px;

        &Top{
          flex-direction: column;
          width: 100%;

          .LinkTextArrow a{
            font-size: 16px;
            line-height: 1.5;

            span{
              &::before{
                top: -5px;
              }
            }
          }
        }

        &Mid{
          ul{
            gap: 20px 45px;

            li{
              width: 219px;
              font-size: 14px;
              line-height: 1.7;

              .LinkTextCircle{
                a span{
                  &::before{
                    font-size: 1px;
                    top: 0;
                  }
                }
              }
            }
          }
        }

        &Bottom{
          ul li{
            width: 190px;
          }
        }
      }
    }
  }


  .returnTop{
    .LinkTextTop{
      a span{
        font-size: 14px;

        &::before{
          top: 3px;
        }
      }
    }
  }
}



/* sp 1360px */

@media screen and(max-width: 1360px){
}