.sidebar{
  width: 250px;
  height: 400vh;


  &__Inner{
    width: 250px;
    padding: 30px 15px 30px 0;
    // margin-top: 120px;
    overflow: auto;
    position: sticky;
    top: 100px;


    ul{
      li{
        padding: 15px;
        font-size: 14px;
      }
    }
  }
}



@media screen and(max-width: 1360px){
  .sidebar{
    display: none;
  }
}