.sidebar{
  width: 250px;
  height: 100vh;
  // position: sticky;
  // top: 150px;
  border-right: 1px solid #e6e6e6;

  &__Inner{
    width: 250px;
    padding: 30px 15px 30px 0;
    // margin-top: 120px;
    overflow: auto;
    position: sticky;
    top: 100px;


    ul{
      li{
        padding: 15px;
        font-size: 14px;
      }
    }
  }
}