@use "./mixin" as *;

@use "header";

@use "main";

@use "footer";

@use "sp";

*{
  box-sizing: border-box;
}

img{
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}